%%
%% rebar3 configuration file
%%
{plugins, [rebar_alias]}.

{require_otp_vsn, "17|18"}.

{erl_opts, [debug_info, fail_on_warning]}.

{alias, [
    {test, [compile, escriptize, ct]},
    {build, [clean, compile, escriptize]}
]}.

%% Compile into a single, self-contained executable.
{escript_name, "replicaz"}.
{escript_incl_apps, [getopt]}.

{deps, [
    {getopt, {git, "https://github.com/jcomellas/getopt/", {branch, "master"}}}
]}.
