%%
%% rebar configuration file (https://github.com/rebar/rebar)
%%

{require_otp_vsn, "17|18"}.

{erl_opts, [debug_info, fail_on_warning]}.

{clean_files, [
    "ebin",
    "logs",
    "src/*.beam",
    "test/*.beam",
    "replicaz"
]}.

%% Compile into a single, self-contained executable.
{escript_name, "replicaz"}.
{escript_incl_apps, [getopt]}.

{pre_hooks, [{compile, "make precompile"}]}.

{deps, [
    {getopt, ".*", {git, "https://github.com/jcomellas/getopt/", {branch, "master"}}}
]}.
