%
% Example configuration file for replicaz. A file like this can be
% placed at the top of the source tree, with the name user_env.config,
% and when the application is built, these settings will be applied to
% the release.
%
{datasets, [
    %
    % This first dataset is replicating to another system.
    %
    {"chihiro", [
        %
        % Name of the ZFS dataset on this system from which to read.
        %
        {from_dataset, "zeniba/shared"},
        %
        % Name of the ZFS dataset on the other system to which to write.
        %
        {to_dataset, "zeniba/shared"},
        %
        % The period of time (atom): hourly, daily, weekly.
        %
        {period, hourly},
        %
        % The frequency (integer); i.e. every N periods.
        %
        {frequency, 1},
        %
        % Name or address of the remote system.
        %
        {ssh_host, "chihiro"},
        %
        % Name of the user on the remote system.
        %
        {ssh_user, "nfiedler"},
        %
        % If true, use sudo for all commands on the receiving end.
        %
        {use_sudo, true},
        %
        % If true, use sudo for zfs commands on the sending side.
        %
        {local_sudo, true}
    ]},
    %
    % This example is replicating to another pool on the same host,
    % so no SSH settings. And maybe we don't need sudo either.
    %
    {"safe", [
        {from_dataset, "zeniba/shared"},
        {to_dataset, "safe/shared"},
        {period, daily},
        {frequency, 1}
    ]}
]}
